<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/site.css') }}"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">AI refrigerator</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="routeVariable" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        jumpping
                    </a>
                    <div class="dropdown-menu" aria-labelledby="routeVariable">
                        <a class="dropdown-item" href="{{ url_for('greet', name='易天') }}">subpage1</a>
                        <a class="dropdown-item" href="{{ url_for('greet2', name='易天2') }}">subpage2</a>
                    </div>
                </li>
                
            </ul>
        </div>
    </div>

</nav>

<main class="container" role="main">
    {% block body %}{% endblock %}
</main>

<div class="container footer">
    <hr>
    <p>by robot-squat</p>
</div>

<script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.bundle.js') }}"></script>

</body>
</html>
