<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
	<title>ROBO添加食物</title>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
    var on = true;
    //等待25秒后，如果没有其他操作跳回默认页面
    var totalSecond = 25;
    var second = 25;
    var time = 0;
    //var order = false;

		function setTime(){
      time++;  
      //console.log(time);
      if(time > 15) {
        //getMessage();
      }
		}
		//每隔1秒调用一次displayTime函数
		function start(){
			window.setInterval("setTime()",1000)//单位是毫秒
      setInterval("redirect()", 1000); 
      //录音15秒就停止录音，并且提交
      setInterval("check()", 5000); 
		}
    function redirect(){ 
      second--;
      if(second<0) window.history.back(-1);
    }    
    function check() {
        //alert("?");
        if(on == true) {
          //alert("t-f");
          on = false;
        }
        else {
          //alert("f-t");
         //on = true;
        }
    }

  </script>	

</head>
<body onload="start();" style="background-color:white; min-width: 840px;min-height: 600px;margin: 0 auto;border: 1px solid white">
	<div style="background-color: black;height: 550px;width: 300px;margin-left: 35%;margin-top: 30px;border:1px solid black;">
		<div style="height: 490px;line-height: 49px;width: 240px;top: 30px;left: 30px;position: relative;background-color:blue;border:1px solid green;">
			<img src="https://wx3.sinaimg.cn/mw690/006p1aI3ly1fsc2ogp1anj306u0dpdft.jpg">	
			<span id="tips" style="color:black; position: absolute; top:0px; left:15px;">
			<b>添加食物</b><br/>
			如何使用语音操作：<br/>
			<p>说出“水果”+“数量”</p>
			  <input type="button" value="开始录音" onclick="startRecording()"/>

    <input type="button" value="停止录音" onclick="obtainRecord()"/>

    <button id="uploadAudio" >提交</button>
			</span>
			<span id="res" style="color:black; position: absolute; top:0px; left:15px;">
			</span>
		</div>	
	</div>

	<script type="text/javascript">
		//下载文件
		$(document).ready(function() {
			$.ajax({
				type:'GET',
				url:"http://203.195.164.196:5000/command/request",
				async:false,
				//dataType:'json',
				success: function(data) {
					var teas = data;
					console.log(teas);
					var html = '<span><b>冰箱现存食物：</b><br/><marquee direction="up" behavior="scroll" scrolldelay="200">'
					//scrolldelay="500"
					$.each(teas,function(key, value) {
						var title = value.title;
						var image = value.image;
						var price = value.price;
						html = html + title + +':' + price + '<br/>';
					});
					html = html + '</span></marquee>'
					//$('#fruits').append(html);
					//
					/*
					//理论上，从数据库获取参数表示添加成功或者失败
					switch(data.res) {
						//success
						case 1:
							var show = '<span><b>添加成功！</b><br/>'+data.fruits+' '+data.num+'</span>';
							$('#res').append(show);
							break;
						case 0:
							var show = '<span><b>添加失败！</b></span>';
							$('#res').append(show);
							break;							
					}
					*/
				},
				//fail
				error:function(data) {
					console.log('error');
					console.log(data);
				}
			});
			//上传文件
			$.ajax({
				type:'POST',
				url:'',
				success:function(data) {
					console.log(data);
				}
			})
		});
		window.addEventListener("DOMContentLoaded", function () {
                $('#uploadAudio').on('click', function () {
									var fd = new FormData();
fd.append('testData', 'test');

var xhr = new XMLHttpRequest();

xhr.open('POST', 'http://203.195.164.196:5000/command/router/put');

xhr.send(fd);

                });
            }, false);
	</script>

<script>

/* 音频 */
      var recorder;
      var audio = document.querySelector('audio');

      function startRecording() {
        HZRecorder.get(function (rec) {
          recorder = rec;
          recorder.start();
        });
      }

      function obtainRecord(){
        var record = recorder.getBlob();
        
      };

      function stopRecord(){
        recorder.stop();
      };

    
      function playRecord(){
        recorder.play(audio);
      };

</script>

<script src="{{url_for('static',filename='r1.js')}}"></script>

<script>
 function uploadAudio() {
  
            recorder.upload("Handler1.ashx", function (state, e) {
                switch (state) {
                    case 'uploading':
                        //var percentComplete = Math.round(e.loaded * 100 / e.total) + '%';
                        break;
                    case 'ok':
                        //alert(e.target.responseText);
                        alert("上传成功");
                        break;
                    case 'error':
                        alert("上传失败");
                        break;
                    case 'cancel':
                        alert("上传被取消");
                        break;
                }
            });
        }

</script>
</body>
</html>